body {
	text-align: center;
}

.registerForm {
	display: inline-block;
	background-color: #009933;
	margin-top: 5rem;
}

.registerTable {
	border-spacing: 1rem 2rem;
}

.registerLabel {
	font-size: 1.2rem;
}
.registerLabelFirstName {
	margin-left: 7rem;
	font-size: 1.2rem;
}

.registerInput {
	width: 30rem;
	margin-right: 2rem;
}

.registerInputName {
	width: 12rem;
	margin-left: 2rem;
}

.goback {
	text-decoration: none;
	border-bottom: none;
	color: black;
}

.goback:visited {
	color: black;
}
